
body {
    text-align: center;
    background-color: Salmon;
    font-color: black;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/dog.jpg");
    background-repeat: repeat;
}